@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

.app_wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "header header"
  "nav nav";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: header;
}

.header img {
  width: 50px;
}

.nav {
  grid-area: nav;
  height: auto;
}
